* {
    text-align: center;
    font-family: Helvetica;
}

h1 {
    color: white;
    font-size: 70px;
    font-weight: bold;
}

/* why the fuck isn't background image working */
.nav {
    color: white;
    background-image: url("resources/images/the-flatiron-building.png");
    background-color: black;
}

a {
    color: white;
    font-size: 18px;
}

#footer {
    background-color: dimgray;
    font-size: 11px;
    color: white;
    text-align: left;
}

/* why the fuck isn't background image working */
#designed {
background-image: url("resources/images/the-flatiron-building.png");
    background-color: red;
}